body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 1rem;
}
nav li {
    display: inline-block;
    padding: 0 .5em;
}
h1 {
    background: rgba(28, 117, 65, 0.74);
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}
h1 a {
	text-decoration: none;
	color: rgb(51, 56, 53);
}
nav li a {
    text-decoration: none;
    color: rgb(6, 58, 30);
}
a {
    text-decoration: none;
    color: rgb(6, 58, 30);
}
table {
    background: rgb(122, 150, 144);
	font-weight: bold;
    border-collapse: collapse;
    width: 70%;
	font-size: 1em;    
}
table td {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even) {
    background-color: #a3bea6;
}
table tr:hover {
    background-color: #ddd;
}
table th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5d8a79;
  color: rgb(24, 26, 24);
}
form {
    display: block;
    padding: .5em;
    background: rgba(154, 172, 155, 0.836);

}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        text-align: right
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
    td:nth-of-type(1):before { content: "Nimi"; }
	td:nth-of-type(2):before { content: "Par lukema"; }
	td:nth-of-type(3):before { content: "Heittojen kokonaispituus"; }
	td:nth-of-type(4):before { content: "Väylien määrä"; }
	td:nth-of-type(5):before { content: "Kaupunki"; }
	td:nth-of-type(6):before { content: "Postinumero"; }
	td:nth-of-type(7):before { content: "Osoite"; }
	td:nth-of-type(8):before { content: "Arvostelut"; }
	td:nth-of-type(9):before { content: "Arvostele"; }
	
}

