{% extends "layout.html" %}
{% block content %}

<h2>Hae aineistoa</h2>
<form action="/filtert" method "GET">
Filteröinti
<select name="filtering">
    <option value=1> Uusin lisäys ensin
    <option value=2> Vanhin ensin
    <option value=3> Lyhin metreissä
    <option value=4> Pisin metreissä
    <option value=5> Pienin par 
    <option value=6> Isoin par
    </select>

<p>
<input type="submit" value="Filtteröi">

</form>
<a href="/">Takaisin</a>
<p>
    <h2>Haullasi löytyi seuraavat tulokset:</h2>
<p>
<ul>
    <table>
        <caption>Viimeiseksi lisätyt radat</caption>
        <tr>
          <th>Nimi</th>
          <th>Par lukema</th>
          <th>Heittojen kokonaispituus</th>
          <th>Väylien määrä</th>
          <th>Kaupunki</th>
          <th>Postinumero</th>
          <th>Osoite</th>
        </tr>
{% for course in courses %}  
            <td>{{ course.course_name }}</td>
            <td>{{ course.par}}</td>
            <td>{{ course.lenght }}</td>
            <td>{{ course.holes}}</td>
            <td>{{ course.city }}</td>
            <td>{{ course.postcode}}</td>
            <td>{{ course.adress }}</td>
          </tr>
        {% endfor %}
      </table>

    <p></p>

{% endblock %}