{% if session.username %}
Tervetuloa!
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<form action="/result" method="POST">
    Tästä voit lisätä frisbeegolfradan järjestelmäämme!

    <p>
    <p>
    Radan nimi: <input type="text" name="course_name"><p>
    Kokonais par lukema: <input type="number" name="par"><p></p>
    Heittojen yhteis metri määrä:<input type="number" name="lenght"><p></p>
    Väylien määrä:<input type="number" name="holes"> <p></p>
    Kaupunki:<input type="text" name="city"><p></p>
    Postinumero:<input type="number" name="postcode"> <p></p>
    Osoite:<input type="text" name="adress"><p></p>

    <p>
    
    <p>
    
    <input type="submit" value="Lähetä">
    </form>
    
   


<p>
Olet sivuston {{ counter }}. käyttäjä
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}