{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
Tervetuloa!
<p>Olet kirjautunut nimellä {{ session.user_name }}</p>
<a href="/logout">Kirjaudu ulos</a>
<form action="/result" method="POST">
    Tästä voit lisätä frisbeegolfradan järjestelmäämme!

    <p>
   
    
    <p>
    
    
    </form>
    <a href="/new">Lisää ratoja</a>
    
    <hr>


<table>
        

        <caption>Viimeiseksi lisätyt radat</caption>
        <tr>
          <th>Nimi</th>
          <th>Par lukema</th>
          <th>Heittojen kokonaispituus</th>
          <th>Väylien määrä</th>
          <th>Kaupunki</th>
          <th>Postinumero</th>
          <th>Osoite</th>
          <th>Arvostelujen keskiarvo(1-5)</th>
          <th> Arvostele</th>
        </tr>
{% for course in courses %}

    
     
            <td>{{ course.course_name }}</td>
            <td>{{ course.par}}</td>
            <td>{{ course.lenght }}</td>
            <td>{{ course.holes}}</td>
            <td>{{ course.city }}</td>
            <td>{{ course.postcode}}</td>
            <td>{{ course.adress }}</td>
            <td>{{ course.id}}</td>
            <td><a href="/review/{{ course.id }}">Arvostele</a> </td>
  
          </tr>

        {% endfor %}
      </table>

    <p></p>
   
    
  
    <hr>
   
    
   


<p>
Olet sivuston {{ counter }}. käyttäjä
{% else %}
<p> Tervetuloa!</p>
<p> Tällä sivulla voit tutkia muiden lisäämiä frisbeegolfratoja tai lisätä itse omia lemppareitasi. Lisätäksesi radan tai arvostellaksesi sellaisen sinun tulee kirjautua sisään.</p>






<table>
        

    <caption>Viimeiseksi lisätyt radat</caption>
    <tr>
      <th>Nimi</th>
      <th>Par lukema</th>
      <th>Heittojen kokonaispituus</th>
      <th>Väylien määrä</th>
      <th>Kaupunki</th>
      <th>Postinumero</th>
      <th>Osoite</th>
      <th>Arvostelujen keskiarvo(1-5)</th>
      
    </tr>
{% for course in courses %}


 
        <td>{{ course.course_name }}</td>
        <td>{{ course.par}}</td>
        <td>{{ course.lenght }}</td>
        <td>{{ course.holes}}</td>
        <td>{{ course.city }}</td>
        <td>{{ course.postcode}}</td>
        <td>{{ course.adress }}</td>
        <td>{{ course.id}}</td>
        

      </tr>

    {% endfor %}
  </table>
    
{% endif %}

<p></p>
{% endblock %}