<!doctype html>
<title>Frisbeegolfradat</title>
<h1><a href="/">Tervetuloa frisbeegolfratojen luo!</a></h1> 
<hr>
<nav>
<ul>
{% if session.user_id %}
<li> <a href="/new">Lisää ratoja</a>
<li> <a href="/filter">Hae aineistosta filteröimällä</a>

{% if session.user_role == 2 %}

{% endif %}
<li> <a href="/logout">Kirjaudu ulos</a>
</ul>
</nav>
{% else %}
<li><a href="/login">Kirjaudu sisään</a>
<li><a href="/register">Rekisteröidy käyttäjäksi</a>
<li><a href="/filter">Filteröi ja hae</a>
</ul>
</nav>
{% endif %}
{% block content %}{% endblock %}