{% extends "layout.html" %}
{% block content %}
<form action="/create" method="POST">
    <p>Radan nimi:<br>
    <input type="text" name="name"></p>
    <p>Kokonais par lukema:<br>
    <input type="number" name="par"></p>
    <p>Heittojen yhteismäärä metreissä:<br>
    <input type="number" name="lenght"></p>
    <p>Väylien määrä:<br>
    <input type="number" name="holes"></p>
    <p>Kaupunki:<br>
    <input type="text" name="city"></p>
    <p>Postinumero:<br>
    <input type="number" name="postnumber"></p>
    <p>Osoite:<br>
    <input type="text" name="adress"></p>
    <input type="submit" value="Luo rata">
    <a href="/">Takaisin</a>
    </form>
    {% endblock %}